<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>223849884088-l7crf9d77c5jk193knlbvhb2vn5448d5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223849884088-l7crf9d77c5jk193knlbvhb2vn5448d5</string>
	<key>API_KEY</key>
	<string>AIzaSyBMYx0W1ThRNgaSLxtpCADLB3y-oFKe0LU</string>
	<key>GCM_SENDER_ID</key>
	<string>223849884088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kedil.signin.signin</string>
	<key>PROJECT_ID</key>
	<string>leck-mich-5e4b7</string>
	<key>STORAGE_BUCKET</key>
	<string>leck-mich-5e4b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:223849884088:ios:1c4f964dfefd5dae48c74d</string>
	<key>DATABASE_URL</key>
	<string>https://leck-mich-5e4b7.firebaseio.com</string>
</dict>
</plist>
